# Compiled Object files
*.slo
*.lo
*.o

# Backup files
*~

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output executables
tagger/test/test
tagger/corpus
tagger/tagger

# Scons db
.sconsign.dblite
